<form class="add-pet-form" [formGroup]="employeeForm" (ngSubmit)="editEmployee(employeeForm)">
  <h2 mat-dialog-title>Employee details</h2>
  <div mat-dialog-content>

    <mat-form-field>
      <input
        matInput
        placeholder="First name"
        formControlName='first_name'>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Last name"
        formControlName='last_name'>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Phone"
        formControlName='phone'>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Salary"
        formControlName='salary'>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(value)]="departmentId" formControlName='departmentId' placeholder="Department">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let department of departments| async" [value]="department.id">
          {{ department.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </div>
  <div mat-dialog-actions>
    <button *ngIf="!isUpdateMode()"
            type="submit"
            color="primary"
            mat-raised-button>
      Ok
    </button>
    <button type="button" mat-raised-button (click)="onNoClick()">Close</button>
    <button *ngIf="isUpdateMode()"
            type="button"
            mat-raised-button
            color="warn"
            (click)="onDeleteClick()">
      Delete
    </button>

  </div>
</form>
